body.space {
	
	overflow: hidden; /* anything that exceeds the bounds of the screen will be hidden */
	background: url('images/bg.jpg');
	background-size: cover;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center; /* centers all children along a single axis */
	justify-content: center;
}

#mainContent {
	position: relative;
	width: 800px;
	height: 800px;
	display: flex; /* centers the main content pane itself */
	justify-content: center;
	align-items: center;
}
.planets {
	position: absolute;
	top: 50%;
	left: 50%;
}

#sun {
	top: 170px;
	left: 355px;
	height: 122px;
}

@keyframes rotate_mercury {
	0% {
		transform: rotate(0deg)translateX(98px);
	}
		100% {
		transform: rotate(360deg) translateX(98px);
	}
}
#mercury {
	animation: rotate_mercury 3s infinite linear;
	top: 220px;
	left: 379px;
	height: 39px;
}
@keyframes rotate_penus {
	0% {
		transform: rotate(0deg)translateX(98px);
	}
		100% {
		transform: rotate(360deg) translateX(98px);
	}
}
#penus {
	height: ;
	animation: rotate_penus 3s infinite linear;
	top: 260px;
	left: 379px;

}
#earth {

}
#thereisnowaterinmars {

}
#jupiter {

}
#segasaturn {

}
#your_anus {

}
#kingneptune {

}